<% layout("/layouts/boilerplate.ejs")%>
<body>
    <div class="row mt-5" >
        <h1 class="col-6 offset-3">Log-in</h1>
        <div class="col-6 offset-3">
            <form method="post" action="/login" novalidate class="needs-validation" >
                <div class="mb-3">
                    <label for="username" class="form-label">username: </label>
                    <input type="text" class="form-control" name="username" placeholder="enter username here" required>
                    <div  class="invalid-feedback">
                        Please enter name here.
                      </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">password: </label>
                        <input class="form-control" name="password" type="password" placeholder="enter password here" required>
                        <div  class="invalid-feedback">
                            Please enter password here.
                          </div>
                        </div>
                        <button class="btn btn-success">login</button>
                    </form>
</div>
</div>
</body>